<h2>ADMIN HOMEPAGE</h2>
<div class="container-fluid overflow-hidden">
  <div class="row vh-100 overflow-auto">
    <div
      class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top"
    >
      <div
        class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="h3">B<span class="d-none d-sm-inline">eta</span></span>
          <span class="h3">M<span class="d-none d-sm-inline">arket</span></span>
        </a>
        <hr class="border-top-5 border-text opacity-sm-100" />
        <ul
          class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a href="#" class="nav-link px-sm-0 px-2 text-white">
              <i class="fs-5 bi-house-door"></i
              ><span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>

          <li>
            <a
              href="/admin/product-management"
              class="nav-link px-sm-0 px-2 text-white"
            >
              <i class="fs-5 bi-cart4"></i
              ><span class="ms-1 d-none d-sm-inline">Products</span></a
            >
          </li>
          <li>
            <a
              href="/admin/customer-management"
              class="nav-link px-sm-0 px-2 text-white"
            >
              <i class="fs-5 bi-people"></i
              ><span class="ms-1 d-none d-sm-inline">Customers</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-sm-0 px-2 text-white">
              <i class="fs-5 bi-cart-dash"></i
              ><span class="ms-1 d-none d-sm-inline">Order</span>
            </a>
          </li>
        </ul>
        <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="/img/profile-pic.svg"
              width="28"
              height="28"
              class="rounded-circle"
            />
            <span class="d-none d-sm-inline mx-1">User</span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark text-small shadow"
            aria-labelledby="dropdownUser1"
          >
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--CONTENT-->
    <!-- <main>%- body</main>-->
  </div>
</div>
