@import "../../node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
  "primary": #73a24e,
  "secondary":	 #f5eec2,
  "tertiary": #416a59,
  "text": #39395f,
  "other": #a9c25d
  
);

body{
  font-family: Roboto, Arial;
  font-weight: 600;
  color: #e5db92
};



// Custom
.sidebar{
  width: 300px;
  height: 100vh;
}

.login{
  width: 700px;
  height: 100vh;
}
