<%- include('../partials/header'); %>
<!--HEADER SECTION-->
<div class="container-fluid bg-dark py-5 border-2">
  <div class="container-fluid px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">The Beta Members!</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Beta is the new Meta!
      </p>
    </div>
  </div>
</div>

<!--Util Section-->
<div class="container text-center my-5">
  <div class="row g-2">
    <div class="col-6">
      <div class="p-3 d-flex justify-content-center border bg-light">
        <div class="card"  style="width: 200px;">
          <img src="/img/sad.jpg" class="card-img-top align-self-center" style="width:200px;">
          <div class="card-body">
            <h5 class="card-text">Lao, Christopher</h5>
            <p>Fullstack Developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 d-flex justify-content-center border bg-light">
        <div class="card"  style="width: 200px;">
          <img src="/img/sad.jpg" class="card-img-top align-self-center" style="width:200px;">
          <div class="card-body">
            <h5 class="card-text">Olmedo, Edrian</h5>
            <p>Fullstack Developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 d-flex justify-content-center border bg-light">
        <div class="card"  style="width: 200px;">
          <img src="/img/sad.jpg" class="card-img-top align-self-center" style="width:200px;">
          <div class="card-body">
            <h5 class="card-text">Paden,  Juniel</h5>
            <p>Fullstack Developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 d-flex justify-content-center border bg-light">
        <div class="card"  style="width: 200px;">
          <img src="/img/sad.jpg" class="card-img-top align-self-center" style="width:200px;">
          <div class="card-body">
            <h5 class="card-text">Quiros, Paul John</h5>
            <p>Fullstack Developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 d-flex justify-content-center border bg-light">
        <div class="card"  style="width: 200px;">
          <img src="/img/sad.jpg" class="card-img-top align-self-center" style="width:200px;">
          <div class="card-body">
            <h5 class="card-text">Taboso, Paolo</h5>
            <p>Fullstack Developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3 d-flex justify-content-center border bg-light">
        <div class="card"  style="width: 200px;">
          <img src="/img/sad.jpg" class="card-img-top align-self-center">
          <div class="card-body">
            <h5 class="card-text">Villamor, Jason L.</h5>
            <p>Fullstack Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer'); %>