<h2>Landing page after login</h2>
<!--form for logout-->
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log out</button>
</form>

<a href="/admin/product-management">Admin page</a>

<div>
  <a href="/shop"> Shop</a>
</div>
