<div class="content d-md-flex flex-row-reverse vh-100">
  <!--Login Bar-->
  <div
    class="login d-flex align-items-start justify-content-center flex-column flex-shrink-0 p-5 bg-white shadow"
    style="width: 37%"
  >
    <h1 class="text-primary display-2 fw-semibold">Sign In</h1>
    <div class="container">
      <form class="d-flex flex-column" action="/login" method="post">
        <div class="mt-4 mb-1 shadow">
          <% if(messages.error){ %> <%= messages.error%> <% }%>
          <label for="emailInput" class="form-label my-0 py-1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="emailInput"
            name="email"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mt-0 shadow">
          <label for="passwordInput" class="form-label mb-0 py-1">Password</label>
          <input
            type="password"
            class="form-control"
            id="passwordInput"
            name="password"
            required
          />
        </div>
        <div class="my-1">
          <input class="me-2 mb-3" type="checkbox" />
          Remember me
        </div>

        <button
          class="btn btn-primary m-2 align-self-center shadow"
          id="loginBtn"
        >
          LOGIN
        </button>
      </form>
      <div class="container d-flex flex-column">
        <hr class="border border-solid border-primary" />
        <div
          class="container d-flex flex-row align-content-center justify-content-center"
        >
          <a class="color-primary mx-2 h2">
            <i class="bi bi-google shadow"></i>
          </a>
          <a class="color-primary mx-2 h2">
            <i class="bi bi-facebook shadow"></i>
          </a>
        </div>

        <div class="h6 my-3 align-self-center">
          Need an acount?<a class="ms-1" href="/register">SIGN UP</a>
        </div>
        <!-- 
        <a
          href="/register"
          class="btn btn-primary shadow m-2 px-4 align-self-center"
          id="registerBtn"
        >
          Register
        </a> -->
      </div>
    </div>
  </div>
  <!--Content-->
  <div
    class="container-fluid d-flex flex-column align-content-center justify-content-center flex-fill bg-primary h-100"
    style="width: 63%"
  >
    <h1 class="display-1 fw-bold text-light mx-5">
      <img src="/public/img/undraw_developer_activity_re_39tg.svg" alt="" />
      Betamoyuy Market
      <hr class="border border-top-5 border-light opacity-100" />
    </h1>
  </div>
</div>
