<h2>Login</h2>
<% if(messages.error){ %> <%= messages.error%> <% }%>
<div>
  <form action="/login" method="post">
    <div>
      <label for="emailInput">Email</label>
      <input type="email" name="email" id="emailInput" required />
    </div>

    <div>
      <label for="passwordInput">Password</label>
      <input type="password" name="password" id="emailInput" required />
    </div>
    <input type="submit" />
  </form>
  <a href="/register">Register</a>
</div>
