<div class="container-fluid d-flex flex-row-reverse vh-100 bg-dark px-0 mx-0">
  <div
    class="container d-flex align-self-end align-items-start justify-content-center flex-column mx-5 bg-light shadow h-100 w-75"
  >
    <h1 class="text-dark display-2 fw-semibold">Sign In</h1>
    <div class="container">
      <form class="d-flex flex-column" action="/login" method="post">
        <div class="mt-4 mb-1">
          <% if(messages.error){ %> <%= messages.error%> <% }%>
          <label for="emailInput" class="form-label mb-0">Email address</label>
          <input
            type="email"
            class="form-control"
            id="emailInput"
            name="email"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mt-0">
          <label for="passwordInput" class="form-label mb-0">Password</label>
          <input
            type="password"
            class="form-control"
            id="passwordInput"
            name="password"
            required
          />
        </div>
        <div class="my-1">
          <input class="me-2 mb-3" type="checkbox" />
          Remember me
        </div>

        <button
          class="btn btn-dark m-2 align-self-center shadow px-3 py-1"
          id="loginBtn"
        >
          LOGIN
        </button>
      </form>
      <div class="container d-flex flex-column text-dark">
        <hr class="border border-solid border-dark" />
        <div
          class="container d-flex flex-row align-content-center justify-content-center"
        >
          <a class="color-dark mx-2 h2" href="https://www.google.com/">
            <i class="bi bi-google text-dark shadow"></i>
          </a>
          <a class="color-dark mx-2 h2" href="https://www.facebook.com/">
            <i class="bi bi-facebook text-dark shadow"></i>
          </a>
        </div>

        <div class="h6 my-3 align-self-center">
          Need an acount?<a class="ms-1" href="/register">SIGN UP</a>
        </div>
      
      </div>
    </div>
  </div>
  <div
    class="container d-none d-md-flex flex-column align-content-center justify-content-center flex-fill bg-dark mx-5"
  >
      <img src="/img/large-logo.svg" alt="" />
    </h1>
  </div>
</div>

