<h2>Register</h2>
<form action="/register" method="post">
  <div>
    <label for="nameInput">Name</label>
    <input type="text" name="name" id="nameInput" required />
  </div>

  <div>
    <label for="emailInput">Email</label>
    <input type="email" name="email" id="emailInput" required />
  </div>

  <div>
    <label for="passwordInput">Password</label>
    <input type="password" name="password" id="passwordInput" required />
  </div>

  <div>
    <label for="role">admin</label>
    <input type="checkbox" name="role" id="role" value="ADMIN" />
  </div>

  <input type="submit" />
</form>
<a href="/login">Back to login</a>
