<div
        class="container-fluid pt-5 d-flex flex-column justify-content-start bg-back"
      >
        <div class="container text-tertiary">
          <h1>Template</h1>
          <p class="mb-4">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
            possimus optio ab impedit neque reprehenderit.
          </p>
          <hr class="border border-top-5 border-tertiary opacity-100" />
        </div>
        <div class="container text-tertiary d-flex flex-row my-4 position-relative">
          <h5>Sort</h5>
          <h5>Filter</h5>
          <h5>Sort</h5>
          <h5>Searchbar</h5>
          <button class="btn btn-primary position-absolute text-tertiary end-0 mx-4">Add</button>
        </div>
        <div class="container">
          <div class="container-fluid">
            <table class="table bg-secondary text-tertiary">
              <thead>
                <tr>
                  <th scope="col">Col 1</th>
                  <th scope="col">Col 2</th>
                  <th scope="col">Col 3</th>
                  <th scope="col">Col 4</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr>
                  <th scope="row">1</th>
                  <td>Test 1</td>
                  <td>Test 2</td>
                  <td>Test 3</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Test 1</td>
                  <td>Test 2</td>
                  <td>Test 3</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Test 1</td>
                  <td>Test 2</td>
                  <td>Test 3</td>
                </tr>
                <th scope="row">4</th>
                  <td>Test 1</td>
                  <td>Test 2</td>
                  <td>Test 3</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Test 1</td>
                  <td>Test 2</td>
                  <td>Test 3</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Test 1</td>
                  <td>Test 2</td>
                  <td>Test 3</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>Test 1</td>
                  <td>Test 2</td>
                  <td>Test 3</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>Test 1</td>
                  <td>Test 2</td>
                  <td>Test 3</td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item">
                  <a class="page-link bg-primary text-tertiary" href="/"
                    >Previous</a
                  >
                </li>
                <li class="page-item">
                  <a class="page-link bg-primary text-tertiary" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link bg-primary text-tertiary" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link bg-primary text-tertiary" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link bg-primary text-tertiary" href="#"
                    >Next</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>